
  LDS Bishopric Tools is free service created by a Ward Clerk that felt the pain of what LDS Tools is lacking for Bishoprics.
  Some of the features include:
  <ul>
    <li>Tracking Sacrament Meeting attendance.</li>
    <li>Sacrament Meeting Prayer tracker with the option of having the tool choose for you!</li>
    <li>Sacrament Meeting Calendar that tracks songs, prayers, speakers and musical numbers.</li>
    <li>Automatically track action items for Bishopric members such as annual interviews or other assignments.</li>
    <li>And most importantly, track calling and their status. I found this the most challenging part of staying organized
        as a Bishopric. Did we sustain them? Did we pray about it? Did they get set apart? Did we call for an interview? Did we remember to release them?</li>
  </ul>
