<div class="app-container">
  <mat-toolbar role="header" color="primary" class="app-toolbar mat-elevation-z6">
    <div>
      <button mat-button (click)="sidenav.toggle()" aria-label="Hide Side Menu" class="hamburger" *ngIf="auth.isLoggedIn">
        <mat-icon aria-hidden="true">menu</mat-icon>
      </button>

      <img src="../assets/images/main.svg" class="main-icon">

      <h1>LDS Bishopric Tools</h1>
    </div>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
      <button mat-menu-item routerLink="about">About</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="auth.isLoggedIn">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <div class="sidenav-container">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" [opened]="auth.isLoggedIn" class="app-sidenav">
        <ul>
          <li><a routerLink="home" routerLinkActive="selected"><mat-icon>dashboard</mat-icon>Dashboard</a></li>
          <li><a routerLink="callings" routerLinkActive="selected"><mat-icon>assignment</mat-icon>Callings</a></li>
          <li><a routerLink="interviews" routerLinkActive="selected"><mat-icon>schedule</mat-icon>Interview Schedule</a></li>
          <li><a routerLink="prayers" routerLinkActive="selected"><mat-icon>record_voice_over</mat-icon>Prayer Tracker</a></li>
          <li><a routerLink="sacrament-calendar" routerLinkActive="selected"><mat-icon>date_range</mat-icon>Sacrament Calendar</a></li>
          <li><a routerLink="sacrament-attendance" routerLinkActive="selected"><mat-icon>assessment</mat-icon>Sacrament Attendance</a></li>
          <li><a routerLink="members" routerLinkActive="selected"><mat-icon>people</mat-icon>Members</a></li>
        </ul>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
