$calling-done: #980000;
$calling-waiting: #f90;
$calling-pending: #4c89bd;
$calling-pending-release: #4c89bd;
$calling-recommended: #f53d3d;
$calling-go: #00ff00;
$calling-go-release: #5a8c5a;
$calling-sustain: #9900ff;
$calling-release: #7ed8d8;
$calling-set-apart: #f0f;

.org-header {
  color: #1473e5;
  margin-top: 1em !important;
  font-size: 1.25em;
  font-weight: 400;
}

.status-item {
  line-height: 25px;
  height: 25px;
}

.callings-list {
  mat-list-item {
    border-bottom: 1px solid #ccc;
    margin-left: 1em;

    .member-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &.done {
        .status-button {
          color: #fff;
          background-color: $calling-done;
        }
      }
      &.set_apart {
        .status-button {
          color: #fff;
          background-color: $calling-set-apart;
        }
      }
      &.waiting {
        .status-button {
          color: #fff;
          background-color: $calling-waiting;
        }
      }
      &.pending {
        .status-button {
          color: #fff;
          background-color: $calling-pending;
        }
      }
      &.pending_release {
        .status-button {
          color: #fff;
          background-color: $calling-pending-release;
        }
      }
      &.recommended {
        .status-button {
          color: #fff;
          background-color: $calling-recommended;
        }
      }
      &.go {
        .status-button {
          color: #fff;
          background-color: $calling-go;
        }
      }
      &.go_release {
        .status-button {
          color: #fff;
          background-color: $calling-go-release;
        }
      }
      &.sustain {
        .status-button {
          color: #fff;
          background-color: $calling-sustain;
        }
      }
      &.release {
        .status-button {
          color: #fff;
          background-color: $calling-release;
        }
      }

      .member-calling {
        width: 25em;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      button {
        color: #999;
      }

      .member-name,
      .calling-vacant {
        flex: 2;
        display: flex;
        padding-right: 20px;
      }

      .calling-vacant {
        font-style: italic;
        color: #999;
      }

      .status-button {
        width: 152px;

        &.status-vacant {
          font-style: italic;
        }
      }
    }
  }
}
